.Section {
    display: flex;
    justify-content: space-between;
    border: 3px solid black;
    width: 100%;
    background: yellow;
}
.Section-Header{
    height: 100px;
    justify-content: center;
}
.Section--description{
    display: inline-block;
    width: 48%;
    padding-right: 5px;
    margin: 0;
}
@media (max-width: 600px) {
    .Section--description {
        width: 100%;
        display: block;
    }
}